<div>
<h3 style="height: 20%;text-align: center">
   Gracias por usar nuestros servicios
</h3>
<br>
<h4 style="height: 20%;text-align: center">
    Autores:
 </h4>

</div>

  <div class="container">
 
   
       <div class="contenedor">
          <table style="border-collapse: separate; border-spacing: 10px;"> 
          
            <td> 
                <br><br><br><br>
              <h3></h3>
                <a><br><br><br><br><img class="circle responsive-img" src="https://image.ibb.co/h9Zoty/cindy.png" width="55" height="55"></a> 
                <tr>  <p>Cindy Cuadros Cogollo</p></tr>
               
            </td>
             <td> 
               <div></div>
             </td>
         
            <td> 
                <br><br><br><br>
              <h3></h3>
                  <a><br><br><br><br><img class="circle responsive-img" src="https://preview.ibb.co/kQTRfd/jhonatan.png" width="55" height="55"></a> 
                  <tr><p>Jhonatan Herrera Gonzalez</p></tr>
              </td>
             
              <br><br><br><br>
              <td> 
                  <br><br><br><br>
                  <h3></h3>
                  
                    <a><br><br><br><br><img class="circle responsive-img" src="https://preview.ibb.co/bMsV6J/sam.png" width="55" height="55"></a> 
                    <tr><p>Samuel Herrera Sevilla </p></tr>
                </td>


           
          </table>
        </div>
    </div>   
     
