
img {
    border-radius: 50%;
}
.container{
    text-align:center;
    display: flex;
    align-content: center;
}


.contenedor{
    display: flex;
    position: relative;
    left:350px;
   
  

}
tr{
    display:inline-block;
    
}

tr p{
    text-align: center;
    align-content: center;
    
}


