<!-- <div class="bg-dark text-white fixed-bottom container">
  <p class="textfooter">cuadrosco</p>
 
  </div> -->

 

                    
  <!--Footer-->
<footer class="page-footer blue pt-4 mt-4 ">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">


            <!--First column-->
            <div class="footer-copyright text-center py-3">
                <div class="container-fluid ">
                    © 2017 Copyright: <a href="https://www.cuadorsco.com"> cuadrosco.com </a>
                </div>
            </div>
            <!--/.First column-->

            <!--Second column-->
            
            <!--/.Second column-->
        
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
  
    <!--/.Copyright-->
</footer>
<!--/.Footer-->