<!-- <div class="card">
  <div class="card-body">
    <h6 class="text-center">
      Listado de Contactos
    </h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr *ngFor="let contacto of contactoList">
          <td>{{contacto.nombre}}</td>
          <td>{{contacto.apellido}}</td>
          <td>{{contacto.email}}</td>
          <td>{{contacto.telefono}}</td>
          <td>
              <button class="btn" (click)="onEdit(contacto)">Editar</button>
              <button class="btn btn-danger" (click)="onDelete(contacto.$key)">Eliminar</button>
           
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>   -->


<table class="mdl-data-table mdl-js-data-table">
    <thead>
       
      <tr >
        <th class="mdl-data-table__cell--non-numeric">Nombre</th>
        <th class="mdl-data-table__cell--non-numeric">Apellido</th>
        <th class="mdl-data-table__cell--non-numeric">Email</th>
        <th class="mdl-data-table__cell--non-numeric">Telefono</th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contacto of contactoList">
        <td class="mdl-data-table__cell--non-numeric">{{contacto.nombre}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{contacto.apellido}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{contacto.email}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{contacto.telefono}}</td>

        <td>
         
                
               
            <button class="btn btn-blue-grey waves-light" mdbWavesEffect (click)="onEdit(contacto)">Editar</button>
             <button class="btn btn-danger" (click)="onDelete(contacto.$key)">Eliminar</button> 
          <!-- <span><i class="fas fa-trash-alt" type="button" (click)="onDelete(contacto.$key)"></i></span>   -->
        </td>
     </tr>
      
     
    </tbody>
  </table>  

  