

<!-- <div class="container" >
<div class="containerlogin "> 
     <form (submit) ="onSubmitLogin()" >
      
    <div class="form-group">
      <h2>LOGIN</h2>
      <br>
      <label for="email">Email </label>
      <input type="email" name="email" class="form-control" id="email"  [(ngModel)]="email" placeholder="Email">
      </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password"  [(ngModel)]="password" placeholder="Password">
    </div>
     
    <br>
    <input type="submit"  value="Entrar"  class="btn btn-primary btn-block btn-lg" >
   
    <br>
    <p> No te has registrado... <a routerLink="/signup">Registrate</a></p>
     <br> <br>
  </form>
  </div>
  </div> -->



  <form (submit) ="onSubmitLogin()" >

<div class="container">
                      
<section class="form-gradient">

    
    <div class="card">

     
        <div class="header pt-3 peach-gradient ">

            <div class="row d-flex justify-content-center" id="fondo">
                <div class="head">Login</div> 
            </div>

      

        </div>
    

        <div class="card-body mx-4 mt-4">

         
            <div class="md-form">
                 
                <input type="text" id="email" name="email" class="form-control"  [(ngModel)]="email" >
                <label for="Form-email3"><i class="fas fa-at"></i></label>
            </div>

            <div class="md-form pb-1 pb-md-3">
                 
                <input type="password" id="password"  name="password" class="form-control"  [(ngModel)]="password" >  
                <label for="Form-pass3"></label>
                <p class="font-small grey-text d-flex justify-content-end">Forgot <a href="#" class="dark-grey-text ml-1 font-weight-bold"> Password?</a></p>
            </div>


            <div class="row d-flex align-items-center mb-4">

               
                <div class="col-md-1 col-md-5 d-flex align-items-start">
                    <div class="text-center">
                        <input type="submit"  value="Entrar"  class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" >
                    </div>
                </div>
               
                <div class="col-md-7">
                    <p class="font-small grey-text d-flex justify-content-end mt-3">Don't have an account? <a href="#" class="dark-grey-text ml-1 font-weight-bold"> Sign up</a></p>
                </div>
              

            </div>
           
        </div>

    </div>
  

</section>
</div>  
</form>
 


                     


