

 

span{
    font-size: 30px;
    color: #fff;
    font-style: italic;
    
}




.icon{
    font-size: 40px;
    position: absolute;
    right: 150px;
    bottom: 22px;
}
.item {
    position: relative;
    bottom: -10px;
    

}
.navbar-nav{
  
    display: flex;
    flex-direction:row;
    align-content:  space-around;
    position: relative;
    right:750px;

  
   
    

}
.nav-item a{

    color :#fff;
    font-size: 15px;
    padding:5px 15px;

}

.nav-item a:hover{
    background: rgba(21, 22, 22, 0.1);
}