
<div class="container">
<div class="md-form">
  <div class="md-form">
    <h6 class="text-center">
      Listado de mensajes
    </h6>
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th>Destinatario</th>
          <th>Remitente</th>
          <th>Mensaje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mensaje of mensajeList">
          <td class="mdl-data-table__cell--non-numeric">{{mensaje.destinatario}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{mensaje.remitente}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{mensaje.texto}}</td>
          <td class="mdl-data-table__cell--non-numeric">
              <button class="btn btn-blue-grey waves-light" mdbWavesEffect (click)="onEdit(mensaje)">Editar</button>
              <button class="btn btn-danger" (click)="onDelete(mensaje.$key)">Eliminar</button>
           
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>